Invoice Processing/Invoice Processing.json
{
  "name": "Invoice Processing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1-SmOZ_ksqOkrsi56WxoANnksKrWIm4Kw",
          "mode": "list",
          "cachedResultName": "Invoice Project",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-SmOZ_ksqOkrsi56WxoANnksKrWIm4Kw"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        128
      ],
      "id": "0e318fa8-fb2b-409f-9e8f-087186a0c419",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3b0aTzM1hKSx2OJd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -256,
        128
      ],
      "id": "b8b2d859-8de0-4884-b558-4dbaac322c85",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -480,
        128
      ],
      "id": "1cfa2e81-2e7d-45be-b4f7-54b3e08adc5b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3b0aTzM1hKSx2OJd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number ",
              "description": "Number of the invoice ",
              "required": true
            },
            {
              "name": "Client Name ",
              "description": "Name of the CLient",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "Email of the client",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "Address of the Client",
              "required": true
            },
            {
              "name": " Client phone",
              "description": "Phone of client",
              "required": true
            },
            {
              "name": "Amount",
              "description": "The total amount",
              "required": true
            },
            {
              "name": "Invoice date ",
              "type": "date",
              "description": "Date of the invoice",
              "required": true
            },
            {
              "name": "Due date",
              "type": "date",
              "description": "Due Date of invoice. ",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -32,
        128
      ],
      "id": "c9c4bc6b-adf8-489c-a611-3fb909314a12",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        352
      ],
      "id": "126e7c94-9b0d-45cd-8fd3-106e390caedf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dJcWT8vWRuwM3iMF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OH0g_s-bsanHbE2wFFh2hoVsWNxda0U6cHy-SNpDmdg",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OH0g_s-bsanHbE2wFFh2hoVsWNxda0U6cHy-SNpDmdg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OH0g_s-bsanHbE2wFFh2hoVsWNxda0U6cHy-SNpDmdg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number ": "={{ $json.output['Invoice Number '] }}",
            "Client Name ": "={{ $json.output['Client Name '] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            " Client phone": "={{ $json.output[' Client phone'] }}",
            "Amount": "={{ $json.output.Amount }}",
            "Invoice date ": "={{ $json.output['Invoice date '] }}",
            "Due date": "={{ $json.output['Due date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number ",
              "displayName": "Invoice Number ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name ",
              "displayName": "Client Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Client phone",
              "displayName": " Client phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice date ",
              "displayName": "Invoice date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due date",
              "displayName": "Due date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        128
      ],
      "id": "b2ecaf1f-3821-4eb1-a8b4-ca0c57722649",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RXKcn9j4YWhlRqUc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an internal email assistant named ABC, specialized in billing communications.\n\nYou will receive information related to an invoice that has been RECEIVED or SENT.\n\nYour task is to:\n- Understand the invoice details provided\n- Determine whether the invoice was received or sent\n- Notify the internal billing team clearly and professionally\n\nWriting guidelines:\n- Tone: professional, clear, and concise\n- Audience: internal billing and finance team\n- Purpose: notification only (no analysis, no assumptions)\n\nOutput requirements (VERY IMPORTANT):\n- Output the information in TWO clearly separated sections\n- Do not add extra text, explanations, or formatting\n\nRequired output structure:\nSubject:\n<write a clear and specific email subject line>\n\nEmail:\n<write the full email body content>\n\nContent rules:\n- Mention key invoice details when available (vendor name, invoice number, amount, due date)\n- If some details are missing, do not invent them\n- Do not include emojis\n- Do not include signatures unless explicitly provided\n- Do not include markdown or bullet formatting\nYou are an internal email assistant named ABC, specialized in billing communications.\n\nYou will receive information related to an invoice that has been RECEIVED or SENT.\n\nYour task is to:\n- Understand the invoice details provided\n- Determine whether the invoice was received or sent\n- Notify the internal billing team clearly and professionally\n\nWriting guidelines:\n- Tone: professional, clear, and concise\n- Audience: internal billing and finance team\n- Purpose: notification only (no analysis, no assumptions)\n\nOutput requirements (VERY IMPORTANT):\n- Output the information in TWO clearly separated sections\n- Do not add extra text, explanations, or formatting\n\nRequired output structure:\nSubject:\n<write a clear and specific email subject line>\n\nEmail:\n<write the full email body content>\n\nContent rules:\n- Mention key invoice details when available (vendor name, invoice number, amount, due date)\n- If some details are missing, do not invent them\n- Do not include emojis\n- Do not include signatures unless explicitly provided\n- Do not include markdown or bullet formatting\n"
            },
            {
              "content": "=Create the email body as multiple separate lines.\n\nRules:\n- Each fact must be its own line.\n- Each line must be a complete sentence.\n- Do NOT combine information.\n- Output ONLY an array of strings called \"lines\".\n- Do NOT output paragraphs.\n\nEach line should follow this format: \"Label: Value\"\n\nLabels to include:\nInvoice Number:{{ $json['Invoice Number '] }}\nClient Name:{{ $json['Client Name '] }}\nClient Email:{{ $json['Client Email'] }}\nInvoice Date:{{ $json['Invoice date '] }}\nDue Date:{{ $json['Due date'] }}\nTotal Amount:{{ $json.Amount }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"Email subject line for the internal billing notification\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"Email body content for the internal billing team\"\n    }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"subject\", \"email\"]\n}\n"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        544,
        128
      ],
      "id": "5f3230e0-03b5-4e87-bd0b-6ea922042a19",
      "name": "Create Email",
      "credentials": {
        "openAiApi": {
          "id": "dJcWT8vWRuwM3iMF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=vineetkanwarsingh@gmail.com",
        "subject": "={{ $json.output[0].content[0].text.subject }}",
        "message": "={{ $json.output[0].content[0].text.email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        128
      ],
      "id": "1b92b355-c12a-450b-a56f-15393ae52c13",
      "name": "Send Email",
      "webhookId": "a663720f-e9e8-436b-8ed1-e956b8c573d3",
      "credentials": {
        "gmailOAuth2": {
          "id": "83E8NJNde1gx74xi",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Create Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "af8a85e1-a081-4fa9-b9df-09da0e90c687",
  "meta": {
    "instanceId": "8a6003c01ddd74933bab9430511200e3e461d724351b30a3ff8b0df664bb859a"
  },
  "id": "LdLOyYJASAuFPyge",
  "tags": []
}