Rag Chatbot/Rag Chatbot.json
{
  "name": "Rag Chatbot",
  "nodes": [
    {
      "parameters": {
        "content": "RAG Pipeline and Chatbot\n[Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 80,
        "width": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -752,
        -208
      ],
      "id": "4604dd52-de6f-4a94-ba32-05bc66e0ff84",
      "name": "RAG Pipeline and Chatbot"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1pndrjSefMvfIbxMkLUS04J2AkzJuRy--",
          "mode": "list",
          "cachedResultName": "N8N Demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1pndrjSefMvfIbxMkLUS04J2AkzJuRy--"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1824,
        272
      ],
      "id": "dfce39af-077e-41fb-8457-f7f2bc92a334",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3b0aTzM1hKSx2OJd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1600,
        272
      ],
      "id": "ec1fcfc3-5e75-4d4b-af78-cc5c6ee06f83",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3b0aTzM1hKSx2OJd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "aurora",
          "mode": "list",
          "cachedResultName": "aurora"
        },
        "embeddingBatchSize": 400,
        "options": {
          "pineconeNamespace": "Aurora Solutions"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1344,
        64
      ],
      "id": "a7a19c92-b676-4b4a-89ab-9577c46ef0e5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "zEHysh2BOaqtP5Kg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1376,
        288
      ],
      "id": "112c36fe-f11b-49b7-a0aa-bd660f5755ff",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "dJcWT8vWRuwM3iMF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1248,
        288
      ],
      "id": "743494b3-04d3-4057-a434-f81952324227",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1168,
        496
      ],
      "id": "2156a563-3665-432b-8a06-bbf3c8caceb6",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Always search the knowledge base before answering and use the tool\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1568,
        816
      ],
      "id": "ecd4963e-d1c9-4ca3-867b-9a9830c4b561",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nHow can Aurora Solutions assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1824,
        816
      ],
      "id": "b43b3571-ac40-4171-985e-85bca684ccb5",
      "name": "When chat message received",
      "webhookId": "d137393b-f413-43d6-99c4-bc5a216fcdba"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1600,
        1040
      ],
      "id": "39171f0a-bee7-4130-bbe0-dd94cfa526fa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dJcWT8vWRuwM3iMF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve information for customers from the Aurora solutions file",
        "pineconeIndex": {
          "__rl": true,
          "value": "aurora",
          "mode": "list",
          "cachedResultName": "aurora"
        },
        "options": {
          "pineconeNamespace": "Aurora Solutions"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1296,
        992
      ],
      "id": "82cf9a80-373a-4f6f-a495-49e0cea3f270",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "zEHysh2BOaqtP5Kg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1184,
        1168
      ],
      "id": "a0756351-d925-4073-9d17-605f2a1d08f1",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "dJcWT8vWRuwM3iMF",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e91ada0d-08b9-4a87-aaf5-92fb6ec62d02",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a6003c01ddd74933bab9430511200e3e461d724351b30a3ff8b0df664bb859a"
  },
  "id": "ZuNsYUFDLKCIVnVG",
  "tags": []
}