LinkedIn Content Generation/LinkedIn Content Creator.json
{
  "name": "LinkedIn Content Creator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        272
      ],
      "id": "8905c77a-be8d-4907-8e5c-999d8b40e5bc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        48
      ],
      "id": "b9714770-751f-4c57-b26d-1bb1efe3cf87",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tEfoEqeJCmGUpWxTVQ8O4v4YhJCX03zU5V3pG_zVr3U",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tEfoEqeJCmGUpWxTVQ8O4v4YhJCX03zU5V3pG_zVr3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tEfoEqeJCmGUpWxTVQ8O4v4YhJCX03zU5V3pG_zVr3U/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        48
      ],
      "id": "4be8148a-7565-4ded-a1df-ad2f6a5da5e9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RXKcn9j4YWhlRqUc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json['Topic '] }}\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"topic\": \"general\",\n  \"time_range\": null,\n  \"start_date\": \"2025-02-09\",\n  \"end_date\": \"2025-12-29\",\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null,\n  \"auto_parameters\": false,\n  \"include_usage\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        48
      ],
      "id": "0d86dc21-65b7-43de-a8fc-2dcdd24b9c08",
      "name": "Tavily"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1 : {{ $json.results[0].content }}\nArticle 2 : {{ $json.results[1].content }}\nArticle 3 : {{ $json.results[2].content }}\n",
        "options": {
          "systemMessage": "You are a professional LinkedIn content strategist.\n\nYou will be given THREE articles as input.\n\nYour task is to:\n- Read and synthesize all three articles\n- Identify the shared theme, key insights, and most valuable takeaways\n- Create ONE concise, professional LinkedIn post based on them\n\nWriting requirements:\n- Tone: inspiring, insightful, and professional\n- Audience: professionals, founders, operators, and leaders\n- Length: 6–10 short lines (LinkedIn-friendly)\n- Style: clear, confident, and human (not salesy, not academic)\n\nContent rules:\n- Do NOT summarize each article separately\n- Do NOT mention “article 1”, “article 2”, or “article 3”\n- Focus on insights, lessons, or trends, not news reporting\n- Add value through synthesis, not repetition\n\nFormatting rules:\n- Use short paragraphs (1–2 sentences per line)\n- Include 1–3 relevant emojis (professional, subtle)\n- End with a reflective or forward-looking closing line\n\nHashtags:\n- Include 3–5 relevant LinkedIn hashtags\n- Hashtags must be placed at the END of the post\n- Use industry-relevant hashtags (e.g., #Leadership, #AI, #Careers, #Productivity, #Innovation)\n\nOutput rules (IMPORTANT):\n- Output ONLY the LinkedIn post text\n- Do NOT include explanations, analysis, or metadata\n- Do NOT use markdown formatting\n- Do NOT wrap output in quotes or JSON"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        48
      ],
      "id": "80e514c8-018f-41d7-b422-13fbc08a8575",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        256
      ],
      "id": "6118a65b-57ce-4910-b018-6bc606ac68a0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dJcWT8vWRuwM3iMF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tEfoEqeJCmGUpWxTVQ8O4v4YhJCX03zU5V3pG_zVr3U",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tEfoEqeJCmGUpWxTVQ8O4v4YhJCX03zU5V3pG_zVr3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tEfoEqeJCmGUpWxTVQ8O4v4YhJCX03zU5V3pG_zVr3U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic ": "={{ $('Get row(s) in sheet').item.json['Topic '] }}",
            "Status": "Created",
            "Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic "
          ],
          "schema": [
            {
              "id": "Topic ",
              "displayName": "Topic ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        48
      ],
      "id": "b6f0b3c2-a027-4395-8dee-9e662973918f",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RXKcn9j4YWhlRqUc",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Tavily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f50ccc86-4efc-46f8-9751-4e34bb2dbc79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a6003c01ddd74933bab9430511200e3e461d724351b30a3ff8b0df664bb859a"
  },
  "id": "VVnQ8vbLKOmIZmgJ",
  "tags": []
}